*{
  margin: 0;
}

body,html{
  height: 100%;
}

main{
  background: url(images/imagem3.jpg);
  width: 375px;
  height: 100%;
}

.perfil {
  width: 11.5rem;
  margin: 3rem auto 0;
  position:relative;
}

.perfil > img {
  width:10rem,;
  height: 11.5;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%,0 75%,0 25%);
}
body {
  --black: hsl(240, 6%, 13%); 
  --gray: hsl(240, 9%, 89%);

  display:grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  align-items: center;
}
a{
  color: var(--gray);
  text-decoration:nome;
  margin-top: 0.25rem,;
  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 1rem;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);

}